<div class="container--fluid">
	<div class="card border-0 ">
		<div class="card-body">
			<div class="row justify-content-center">
				<div class="col-2 col-md-2 p-0" *ngFor="let item of this.sharedService.users; let i = index"
					(click)="this.onSelect(i)">
					<img class="card-img-top" [src]="item.user.profile_pic_url" alt="Card image cap">
				</div>
			</div>
		</div>
	</div>
</div>
