<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Put profile link or username here!" [(ngModel)]="this.query">
    <div class="input-group-append ">
      <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="this.onSearch()">Search</button>
    </div>
  </div>
</div>
