<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card h-100 w-100">
			<div class="card-body">
				<img class="card-img-top" [src]="this.hd_profile_pic_url">
			</div>
			<div class="card-footer">
				<button class="btn btn-block btn-primary text-white" (click)="this.onShare()"> Share </button>
				<button class="btn btn-block btn-outline-secondary" (click)="this.back()">Back</button>
			</div>
		</div>
	</div>
</div>
